/* ------------------
 Fonts 
 -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;800;900&display=swap');

/* ------------------
 Variabels 
 -------------------- */

 :root {
    --main-color: #6290C8;
    --blue: #376996;
    --green: #0F9033;
    --blue-dark: #1D3461;
    --orange: #FF9C06;
}


/* ------------------
 Global Setting 
 -------------------- */

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(251, 251, 251, 0.79);
    font-family: 'Nunito', sans-serif;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* ------------------
 Navbar
 -------------------- */

nav {
    background: rgba(251, 251, 251, 1.79) !important;
}

.navbar-brand {
    font-family: 'Philosopher';
    color: #1F487E !important;
    font-size: 25px;
    letter-spacing: 3px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #1F487E;
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

nav ul li a {
    color: #829CBC !important;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 10px;
}

nav ul li a:hover {
    color: #1F487E !important;
}

nav ul li a.active {
    color: #1F487E !important;
}

.btn-outline-primary:hover {
    border-radius: 30px;
    color: #ffffff !important;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    align-items: center;
    font-size: 20px;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-outline-primary {
    border-radius: 30px;
    list-style: none;
    color: var(--main-color);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border-color: var(--main-color);
    border-width: 3px;
}


/* ------------------
 Section Home
 -------------------- */

h1 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #376996;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #2F2E41;
}

.btn-regist:hover {
    background: #1D3461;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.btn-regist {
    background: transparent;
    border-radius: 30px;
    border-color: #1D3461;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #1D3461;
    border-width: 3px;
}

img.illustration {
    width: 90%;
    height: auto;
}


/* ------------------
 Section Program
 -------------------- */

.title {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #376996;
}

.card {
    border-color: var(--blue-dark);
    border-width: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.card-body-program {
    height: 340px;
    margin: 10px 10px;
}

h4 {
    color: #000000;
    font-weight: bold;
}

a.icon-program {
    color: var(--blue-dark);
    font-size: 70px;
}

a.icon-program:hover {
    color: var(--main-color);
    font-size: 70px;
}


/* ------------------
 Section About
 -------------------- */

.about-content {
    font-family: 'Nunito', sans-serif;
    padding-top: 100px;
    font-size: 20px;
    color: #2F2E41;
}

.about-img {
    width: 80%;
    height: auto;
}


/* ------------------
 Section Paket
 -------------------- */

.card-outline-primary {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-color: #6290C8;
    border-width: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-outline-warning {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-color: #FF9C06;
    border-width: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-outline-success {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-color: #0F9033;
    border-width: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-body-paket {
    height: 500px;
    padding: 20px;
}

.text-description {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #2F2E41;
}

.text-check {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #2F2E41;
}

.price-primary {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #6290C8;
    margin-bottom: 0;
}

.price-warning {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #FF9C06;
    margin-bottom: 0;
}

.price-success {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #0F9033;
    margin-bottom: 0;
}

.type-paket {
    position: absolute;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    margin-top: 9px;
    font-size: 18px;
    color: #000000;
}

.crossed-out {
    font-family: Nunito;
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    text-decoration-line: line-through;
    color: #7E7474;
}

.btn-paket-primary {
    position: absolute;
    color: #ffffff;
    left: 26%;
    margin-top: 20px;
    font-size: 23px;
    background: #376996;
    font-weight: bold;
    border-radius: 30px;
}

.btn-paket-primary:hover {
    color: #376996;
    background: transparent;
    border-color: #376996;
    font-weight: bold;
    border-radius: 30px;
}

.btn-paket-warning {
    position: absolute;
    color: #ffffff;
    left: 26%;
    margin-top: 20px;
    font-size: 23px;
    background: #FF9C06;
    font-weight: bold;
    border-radius: 30px;
}

.btn-paket-warning:hover {
    color: #FF9C06;
    background: transparent;
    border-color: #FF9C06;
    font-weight: bold;
    border-radius: 30px;
}

.btn-paket-success {
    position: absolute;
    color: #ffffff;
    left: 26%;
    margin-top: 20px;
    font-size: 23px;
    background: #0F9033;
    font-weight: bold;
    border-radius: 30px;
}

.btn-paket-success:hover {
    color: #0F9033;
    background: transparent;
    border-color: #0F9033;
    font-weight: bold;
    border-radius: 30px;
}


/* ------------------
 Section Testimonial
 -------------------- */

.card-body-testimonial {
    height: 100%;
    margin: 20px 20px;
}

.img-testimonial {
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.name-testimonial {
    margin-top: 30px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
    color: #000000;
}

.position-testimonial {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #C4C4C4;
}

.description-testimonial {
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    color: #000000;
}

.owl-prev {
    left: -30px
}

.owl-next {
    right: -30px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 90px;
}

.owl-prev span,
.owl-next span {
    font-size: 80px;
    color: var(--blue-dark);
}

.owl-theme,
.owl-nav[class="owl-"]:hover {
    background: transparent;
}


/* ------------------
 Section Contact
 -------------------- */

.bg-blue-dark {
    background-color: #1F487E;
    padding-bottom: 70px;
}

.contact {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.links ul {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media {
    font-size: 30px;
    color: #ffffff;
    margin: 10px;
}

.social-media:hover {
    font-size: 30px;
    color: var(--main-color);
}


/* ------------------
 Footer
 -------------------- */

footer {
    background: #1C3F6C;
    position: absolute;
    width: 100%;
}

.footer-desc {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 20px;
}


/* ------------------
 Responsive
 -------------------- */


/* Tablet */

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    .btn-login {
        display: none;
    }
    .about-img {
        width: 100%;
    }
    .card-outline-primary {
        width: 100%;
    }
    .card-outline-warning {
        width: 100%;
    }
    .card-outline-success {
        width: 100%;
    }
    .btn-paket-primary {
        left: 40%;
    }
    .btn-paket-warning {
        left: 40%;
    }
    .btn-paket-success {
        left: 40%;
    }
}


/* Mobile */

@media screen and (max-width: 576px) {
    .card-outline-primary {
        height: 500px;
    }
    .card-outline-warning {
        height: 500px;
    }
    .card-outline-success {
        height: 500px;
    }
    .btn-paket-primary {
        left: 26%;
    }
    .btn-paket-warning {
        left: 26%;
    }
    .btn-paket-success {
        left: 26%;
    }
}